@let article = post();

<article class="article-page" data-testid="blog-post">
  <app-page-header
    [titleKey]="article.key + '.title'"
    [image]="article.image"
    [parent]="{ labelKey: 'pages.blog.title', link: '/blog' }"
  />

  <div class="container mx-auto px-4 lg:px-6 article-page__container">
    <div class="article-page__inner">
      <p class="article-page__meta">
        <span class="article-page__category article-page__category--{{ article.category }}">
          {{ 'news.categories.' + article.category | translate }}
        </span>
        <span class="article-page__date">
          <i class="icon-calendar-days-regular-full" aria-hidden="true"></i>
          <time [attr.datetime]="article.date">{{ article.date | localDate: lang() }}</time>
        </span>
      </p>

      <div data-testid="blog-post-content">
        <p class="article-page__lead">{{ article.key + '.excerpt' | translate }}</p>

        @for (paragraph of article.key + '.content' | translate; track $index) {
          <p class="article-page__paragraph">{{ paragraph }}</p>
        }
      </div>

      <a class="article-page__back" routerLink="/blog" data-testid="blog-post-back">
        <i class="icon-angle-left-solid-full" aria-hidden="true"></i>
        {{ 'news.backToBlog' | translate }}
      </a>
    </div>
  </div>
</article>

@if (otherPosts().length) {
  <aside class="article-page__related" aria-labelledby="more-posts-title" data-testid="related-posts">
    <div class="container mx-auto px-4 lg:px-6">
      <div class="article-page__more">
        <h2 id="more-posts-title" class="article-page__more-title">{{ 'news.morePosts' | translate }}</h2>
        <ul class="article-page__more-list">
          @for (other of otherPosts(); track other.id) {
            <li>
              <a
                class="article-page__more-link"
                [routerLink]="['/blog', other.id]"
                [attr.data-testid]="'related-post-' + other.id"
              >
                <img
                  class="article-page__more-image"
                  [src]="other.image"
                  alt=""
                  width="1920"
                  height="1280"
                  loading="lazy"
                  decoding="async"
                />
                <span>
                  <time class="article-page__more-date" [attr.datetime]="other.date">{{
                    other.date | localDate: lang()
                  }}</time>
                  <span class="article-page__more-name">{{ other.key + '.title' | translate }}</span>
                </span>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </aside>
}
