@font-face {
    font-family: "icons";
    src: url("./icons.woff2?ae33a0d15f2f8b0898258bc86d25f509") format("woff2"),
url("./icons.woff?ae33a0d15f2f8b0898258bc86d25f509") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
    content: "\f101";
}
.icon-team:before {
    content: "\f102";
}
.icon-smile:before {
    content: "\f103";
}
.icon-shield-check:before {
    content: "\f104";
}
.icon-send:before {
    content: "\f105";
}
.icon-phone:before {
    content: "\f106";
}
.icon-instagram:before {
    content: "\f107";
}
.icon-globe:before {
    content: "\f108";
}
.icon-facebook:before {
    content: "\f109";
}
.icon-error:before {
    content: "\f10a";
}
.icon-email:before {
    content: "\f10b";
}
.icon-clock:before {
    content: "\f10c";
}
.icon-chevron-right:before {
    content: "\f10d";
}
.icon-chevron-left:before {
    content: "\f10e";
}
.icon-chevron-down:before {
    content: "\f10f";
}
.icon-check-circle:before {
    content: "\f110";
}
.icon-calendar:before {
    content: "\f111";
}
.icon-building:before {
    content: "\f112";
}
.icon-arrow-up:before {
    content: "\f113";
}
.icon-arrow-right:before {
    content: "\f114";
}
